.border {
  border: 2px solid black;
}

.chartBars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;

  width: 5%;
}

.chartBarInner {
  display: flex;
  justify-content: center;
  background-color: rgba(71, 166, 255, 0.24);
  height: 100%;
  align-items: flex-end;
}

.chartBarInner__heightFill {
  width: 100%;
  background-color: tomato;
  transition: height 1s;
}
